<div id="main">
  <h1>Purchases List</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer ID</th>
        <th>Stamp</th>
        <th>Product ID</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchase of purchases$ | async">
        <td>{{purchase.id}}</td>
        <td>{{purchase.customerId}}</td>
        <td>{{purchase.stamp | date:"dd-MM-YYYY"}}</td>
        <td>{{purchase.productId}}</td>
        <td>{{purchase.quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>


